/public/hot
/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php
_ide_helper_models.php

/public/storage
/storage/*.key

# Built assets
Modules/*/node_modules
Modules/*/vendor
/public/js
/public/vendors~*.js
/public/xlsx.js
/public/mix-manifest.json
